<!DOCTYPE HTML>
<html xmlns:th="http://localhost:8080/" >
<head th:insert="web/fragments/header.html"></head>
<body>

<nav th:insert="web/fragments/nav.html" th:remove="tag" ></nav>

<main role="main">

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">

                <h1 class="fw-light" th:text=" ${message} "></h1>

                <p class="lead text-muted">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum.
                </p>

                <img th:src="@{/sb-admin/img/fox.jpg}" src=""/>

            </div>
        </div>
    </section>

</main>

<div th:insert="web/fragments/footer.html" th:remove="tag"></div>

</body>
</html>